.gridContainer {
  color: #FFFFFF;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80vh 20vh;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  margin: 0px;
  font-family: sans-serif;
}

.mainItem {
  /*border: 1px solid red;*/
}

.secondaryItem {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  /*border: 1px solid green;*/
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 16px;
}

.topRight {
  position: absolute;
  top: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tinyDays {
  /*border: 1px solid blue;*/
  padding-top: 1%;
  padding-bottom: 1%;
}

.cityHeader{
    margin-top: 0px;
    margin-bottom: 0px;
}

.weatherHeader{
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn {
  color: #FFFFFF;
  font-size: 25px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
}

.btn:hover {
  background-color: black;
}

.tempText{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.img {
  height: 256px;
  width: 256px;
  color: #FFFFFF;
  margin-bottom: 0px;
  margin-top: 0px;
}

.tinyDaytext{
  margin-top: 0px;
  margin-bottom: 0px;
}

.tinyTempText{
  margin-top: 0px;
  margin-bottom: 0px;
}

/***************AUTOCOMPLETE*******/

input {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 96%;
  margin: 16px;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/****** TABLE *****/

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.tableDiv {
  height:  91.5vh;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #77773c;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

/***********Loader********/
.loader {
  position: absolute;
  top: 25vh;
  left: 35vw;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 50vh;
  height: 50vh;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
